<launch>
  
<!--
  <include file="$(find node_tests)/launch/bag_player_for_tests.launch" />
-->

  <node pkg="node_tests" type="generic_mock.py" name="datafusion_mock_tester" 
    output="screen" required="true" 
        args = "dataFusion_communications 
                fusionDataMsg 
                $(find node_tests)/bags/datafusionTest 
                /dataFusion/fusionData 
                $(find dataFusion_communications) " />
    
</launch> 

